*.pdb filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*BDS-Server/worlds/JF-Flat/db filter=lfs diff=lfs merge=lfs -text
